* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*border and padding not added to box size*/
}

body {
  font-family: 'Rubik', sans-serif;
}

label {
  display: block;
  font-size: 0.5em;
}

#home {
  background-image: linear-gradient(to right, rgba(21, 97, 173, 0.85), rgba(28, 119, 172, 0.75)), url(./images/petsphoto.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);

}

