* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*border and padding not added to box size*/
}

#home {
  background-image: url(./images/petsphoto.png);
  background-size: 1600px;
  background-repeat: no-repeat;
  background-position: center;
}
